<%= form_for @song, url: {action: 'update'} do |f| %>
<label>Song Name:</label> <%= f.text_field :name, value: @song.name %><br/>
<label>Artist:</label><br/>

<!-- THE BOTTOM ARE FIXED TO CHECK THE RADIO BUTTON CORRESPONDING TO THE DATABASE VALUES -->
<% @artists.each do |artist| %>
  <% if artist.id == @song.artist.id %>
  <%= f.radio_button :'artist_id', artist.id, :checked => true %> <%= artist.name %><br/>
  <% else %>
  <%= f.radio_button :'artist_id', artist.id %> <%= artist.name %><br/>
  <% end %>
<% end %>
<br/>

<% @genres.each do |genre| %>
  <% if genre.id == @song.genre.id %>
    <%= f.radio_button :'genre_id', genre.id, :checked => true %> <%= genre.name %><br/>
  <% else %>
    <%= f.radio_button :'genre_id', genre.id %> <%= genre.name %><br/>
  <% end %>
<% end %>

<%= f.submit "Update Song" %>
<% end %>
